<div class="container">
        <h1 class="mb-5 d-flex justify-content-around">Manage games</h1>
        <div class="text-center">
          <img src="images/target.png" class="w-25 p-3">
        </div>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gamemode</th>
      <th scope="col">Status</th>
        <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      {{#each games}}
    <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{mode}}</td>
      <td>{{status}}</td>
        <td>{{createdAt}}</td>
      <td><a href="/games/{{_id}}"><button class="btn btn-light">Access</button></a>       <form method="POST" action="/games/{{_id}}?overrideMethod=DELETE"><button type="submit" class="btn btn-light">Delete</button></form>
    </tr>
    {{/each}}
  </tbody>
</table>
    <div class="mb-5 d-flex justify-content-around">
      <a href="/games/new" class="btn btn-dark btn-lg">Create new game</a>
    <a href="/players" class="btn btn-dark btn-lg">Manage players</a>
  </div>
</div>


